<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/emplyee-dashboard.css">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .invoice-link {
            color: blue;
            cursor: pointer;
        }
        .invoice-link:hover {
            text-decoration: underline;
        }
    </style>

</head>
	<div class="navbar">
		<div class="logo">
			<img src="/images/Ta.png">
			<span class="logo-name nav-item">Techinical Assistant</span>
		</div>
		<div class="auth nav-item">
			<div class="dropdown">
				<p></p>
				<button class="dropbtn login-button" th:text="${name}"> </button>
			</div>
		</div>
		<form method="get" action="/logout">
			<button type="submit">Logout</button>
			<input type="hidden" name="authorization" th:value="${authorization}">
		</form>
	</div>

    <!-- Page Content -->
    <div class="content" id="emplyeeDashbpoard">     
        			<table>
				<thead>
					<tr>
						<th>Employer Name</th>
						<th>Candidate Name</th>
						<th>Technology</th>
						<th>Interview Mode</th>
						<th>Status</th>
						<th>Result</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="interview : ${interviewList}">
						<td th:text="${interview.employerName}"></td>
						<td th:text="${interview.candidateName}"></td>
						<td th:text="${interview.technology}"></td>
						<td th:text="${interview.modeOfInterview}"></td>
						<!--<td th:text="${interview.file}"></td> -->
						
						<td th:text="${interview.status}"></td>
						<td th:text="${interview.feedback}"></td>
                        <td>
							<form th:action="@{/interviews/assign/}" method="get">
								<input type="hidden" name="authorization" th:value="${authorization}">
								<input type="hidden" name="interviewId" th:value="${interview.id}">
								<button class="home-btn">Assign</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
    </div>

    <!-- Footer -->
    <!-- <footer>
        <p>© 2023 Technical Assistant. All rights reserved.</p>
    </footer> -->
</body>