<!DOCTYPE html>
<html>

    <head>
        <title>My Example</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <h1>External Styles</h1>
      <p id="intro">Allow you to define styles for the whole website.</p>
      <p class="colorful">This has a style applied via a class.</p>

        <section>
		 <h1>CSS Styles</h1>
		    <h2>Different ways to apply CSS styles</h2>
		    <p> 1)	Inline style </p>
		    <p> 2)	Internal style sheet</p>
		    <p> 3)	External style sheet </p>
       </section>
    </body>

</html>