/<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>JavaScript</title>
</head>
<body>
<h1> JavaScript</h1>
<p id ="demo0"></p>
<p id ="demo1"></p>
<p id ="demo2"></p>
<p id ="demo3"></p>
<p id ="demo4"></p>


<script type = "text/javascript">
	
var x = 10;
document.getElementById("demo0").innerHTML = x;

{
	let x= 2;
	document.getElementById("demo1").innerHTML = x;
	
	}
	const PI = 3.14
	//document.getElementById("demo3").innerHTML = PI;
	
	//document.getElementById("demo2").innerHTML = x;

//console.log("Using console.log");
//Console.log(3>2 && 6==6);
alert(3 > 2 && 6==6);
 //document.getElementById("demo0").innerHTML = 5 < 6;

//</script>

</body>
</html>p