<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Employee Data Details Information</h2>

<table style="width:100%; text-align: left;">
  <tr>
    <th>Emp Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Mobile</th>
    <th>Salary</th>
    <th>Address</th>
  </tr>
  <tr>
    <td>121</td>
    <td>Adam</td>
    <td>Gills</td>
    <td>800000000</td>
    <td>$000</td>
    <td>University Area</td>
  </tr>
  <tr>
    <td>122</td>
    <td>Sarrah</td>
    <td>White</td>
    <td>787878700</td>
    <td>$0770</td>
    <td>New York Area</td>
  </tr>

  <tr>
    <td>123</td>
    <td>Nick</td>
    <td>Johnas</td>
    <td>787008700</td>
    <td>$0770</td>
    <td>Texas</td>
  </tr>
  <tr>
    <td>124</td>
    <td>John</td>
    <td>Abram</td>
    <td>8787878787</td>
    <td>$800</td>
    <td>Dallas</td>
  </tr><tr>
    <td>124</td>
    <td>silk</td>
    <td>john</td>
    <td>787008700</td>
    <td>$0770</td>
    <td>Texas</td>
  </tr><tr>
    <td>125</td>
    <td>Shankar</td>
    <td>Mahadev</td>
    <td>787008700</td>
    <td>$0770</td>
    <td>Texas</td>
  </tr><tr>
    <td>126</td>
    <td>Nick</td>
    <td>John</td>
    <td>787008700</td>
    <td>$0770</td>
    <td>Texas</td>
  </tr><tr>
    <td>127</td>
    <td>Aliya</td>
    <td>Shankar</td>
    <td>787008700</td>
    <td>$0770</td>
    <td>Texas</td>
  </tr><tr>
    <td>128</td>
    <td>Mohan</td>
    <td>Dev</td>
    <td>555543333</td>
    <td>$0770</td>
    <td>New Joursey</td>
  </tr><tr>
    <td>129</td>
    <td>Ram</td>
    <td>Pratap</td>
    <td>787008700</td>
    <td>$0770</td>
    <td>Charlotte</td>
  </tr>
</table>


</body>
</html>

