<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/style/tablePracticeStyle.css">
<meta charset="ISO-8859-1">
<title>0.00</title>
</head>
<body>
	<table>
   <caption></caption>
   <thead>
	    <tr>
         <th>7</th>
         <th>8</th>
         <th>9</th>
         <th>c</th>
      </tr>
      <tr>
         <th>4</th>
         <th>5</th>
         <th>6</th>
         <th>/</th>
      </tr>
      <tr>
         <th>1</th>
         <th>2</th>
         <th>3</th>
         <th>'</th>
		
      </tr>
      <tr>
         <th>0</th>
         <th>00</th>
         <th>.</th>
         <th>+</th>
      </tr>
       </tbody>
   <tfoot>
      <tr>
        <td colspan="3">=</td>   
         <td>-</td>
         
      </tr>
   </tfoot>
</table>

   
   