<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="navbar">
		<div class="logo">
			<img src="/images/Ta.png">
			<span class="logo-name nav-item">Techinical Assistant</span>
		</div>
		<div class="auth nav-item">
			<div class="dropdown">
				<p></p>
				<button class="dropbtn login-button" th:text="${name}"> </button>
			</div>
		</div>
		<form method="get" action="/logout">
			<button type="submit">Logout</button>
			<input type="hidden" name="authorization" th:value="${authorization}">
		</form>
	</div>

    <!-- Page Content -->
    <div class="content" style="max-width: 1200px; margin: auto;" id="requestInterview">
        <div class="form-container">
            <h2>Request Interview</h2>
            <form th:action="@{/interviews/}" method="post" enctype="multipart/form-data">
				
				 <input type="hidden" name="authorization" th:value="${authorization}">

                <div class="form-group">
                    <label for="candidateName">candidateName:</label>
                    <input type="text" id="candidateName" name="candidateName" required>
                </div>
    
                <div class="form-group">
                    <label for="candidateContact">Phone:</label>
                    <input type="text" id="candidateContact" name="candidateContact" required>
                </div>
    
                <div class="form-group">
                    <label for="candidateEmail">Email:</label>
                    <input type="email" id="candidateEmail" name="candidateEmail" required>
                </div>
    
                <div class="form-group">
					<label for="skills">Skills to be Accessed:</label>
					<div class="input-group" id="technology">
						<select id="technology" name="technology" class="custom-select">
							<option value="1">Java/J2EE</option>
							<option value="2">Microsoft Technologies</option>
							<option value="3">Full Stack Developer</option>
							<option value="4">DBA</option>
							<option value="6">Front End</option>
							<option value="7">DevOps/Platform Engineering</option>
							<option value="8">Cloud Technologies</option>
							<option value="9">GO</option>
							<option value="10">Scrum Master</option>
							<option value="11">PYTHON</option>
						</select>
					</div>
				</div>
				
    
                <div class="form-group">
                    <label for="mode">Interview Mode:</label>
                    <select id="mode" name="mode">
                        <option value="2">Phone</option>
                        <option value="3">Online</option>
                        <option value="1">Face to Face</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="notes">Notes:</label>
                    <textarea id="notes" name="notes"></textarea>
                </div>
    
                <div class="form-group">
                    <label for="resume">Resume:</label>
                    <input type="file" id="resume" name="resume" accept=".pdf,.doc,.docx">
                </div>

                <button type="submit" style="margin-left: 40%; margin-top: 20px;">Submit</button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>© 2023 Technical Assistant. All rights reserved.</p>
    </footer>
</body>