<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
<link rel="stylesheet" href="../static/style/style.login.css">
<script defer src="../static/scripts/login-page.js"></script>
</head>
<body>
<table style="width:100%; text-align: left;">
  <tr>
<td colspan="2" style="width:50%; text-align: left;">
  <form action="/" id="loginForm">
  <div class="container">
    <h1>Employee Sign In</h1>
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    <hr>


    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" id="email" class="login-form-field" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" class="login-form-field" required>

    <label for="psw"><b>Remember me</b></label>
   <input type="checkbox" >

    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" id="submitbutton" class="login">LogIn</button>
  </div>
  
 
</form></td>
<td style="width:50%; text-align: left;"></td>
  </tr>
</table>


</body>
</html>
