<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Art Collector Login</title>
</head>
<body>
    <h1>Art Collector Login</h1>
    <form th:action="@{/login}" method="post" role="form">
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="username" required>
      <br>
        <label for="password">Password:</label>
           <br>
        <input type="password" id="password" name="password" required>
      <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>